<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 15:02:23
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 11:36:11
-->
{% extends "base.html" %}

{% block title %}
    Second brain
{% endblock %}

{% block content %}
    <h1 class="Overskrift">Second brain</h1>
    <section>
        <article class="brukere">
            <h2>Brukere</h2>
            <p>Velg alternativ:</p>
            <button class="knapp1"><a href="brukere/" class="brukerknapp">Brukerliste</a></button>
            <button><a href="brukere/" class="brukerknapp">Registrer ny bruker</a></button>
            <button><a href="brukere/" class="brukerknapp">Info for brukerene</a></button>
            <p class="linje">----------------------------------------------------------------------------------------------------------------------------</p>
        </article>
        <article class="notat">
            <h2>Notatapp</h2>
            <p>Se vår <a href="notatapp/">notatapp</a></p>
            <p class="linje">----------------------------------------------------------------------------------------------------------------------------</p>
        </article>
        <article class="random">
            <h2>Random</h2>
            <p>Se <a href="random/">random</a></p>
        </article>
    </section>

    <footer>
        <p>© 2026 Second Brain</p>
        <p>Sebastian Olsen & Oliver Åsnes</p>
    </footer>

{% endblock %}