<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 15:02:23
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 09:13:14
-->
{% extends "base.html" %}

{% block title %}
    Second brain
{% endblock %}

{% block content %}
    <h1 class="Overskrift">Second brain</h1>
    <section>
        <article class="brukere">
            <h2>Brukere</h2>
            <article class="controls">
                <p>Velg alternativ:</p>
                <button><a href="brukere/" class="brukerknapp">Gå til brukerliste</a></button>
                <button><a href="brukereNY/" class="brukerknapp">Registrer ny bruker</a></button>
                <!-- <button><a href="brukere/" class="brukerknapp">Info for brukerene</a></button> -->
                <p class="linje">----------------------------------------------------------------------------------------------------------------------------</p>
            </article>
        </article>
        <article class="notat">
            <h2>Notatapp</h2>
            <article class="controls">
                <p>Velg alternativ:</p>
                <button><a href="notatapp/" class="brukerknapp">Gå til notatappen</a></button>
                <button><a href="notatappinfo/" class="brukerknapp">Info om notatappen</a></button>
            </article>
            <p class="linje">---------------------------------------------------------------------------------------------------------------------------</p>
        </article>
        <article class="notat">
            <h2>Random1</h2>
            <article class="controls">
                <p>Velg alternativ:</p>
                <button><a href="random1/" class="brukerknapp">Gå til Random1</a></button>
                <button><a href="random1info/" class="brukerknapp">Info om Random1</a></button>
            </article>
        </article>

    </section>

    <footer>
        <p>© 2026 Second Brain</p>
        <p>Sebastian Olsen & Oliver Åsnes</p>
    </footer>

{% endblock %}