<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 15:02:23
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 09:13:14
-->
{% extends "base.html" %}
{% load static %}

{% block title %}
    Second brain
{% endblock %}

{% block content %}
    <h1 class="Overskrift">Second brain</h1>
    <section>
        <article class="brukere">
            <section class="brukere-container">
                <article class="brukere-content">
                    <h2>Brukere</h2>
                    <article class="controls">
                        <p>Velg alternativ:</p>
                        <button><a href="brukere/" class="brukerknapp">Gå til brukerliste</a></button>
                        <button><a href="brukereNY/" class="brukerknapp">Registrer ny bruker</a></button>
                        <button><a href="brukere/" class="brukerknapp">Info for brukerene</a></button>
                    </article>
                </article>
                <img src="{% static 'img/user.png' %}" alt="Ikkebilde" width="100px" class="Bilde">
            </section>
            <hr class="linje" />
        </article>
        <article class="notat">
            <section class="notat-container">
                <article class="notat-content">
                    <h2>Notatapp</h2>
                    <article class="controls">
                        <p>Velg alternativ:</p>
                        <button><a href="notatapp/" class="brukerknapp">Gå til notatappen</a></button>
                        <button><a href="notatappinfo/" class="brukerknapp">Info om notatappen</a></button>
                    </article>
                </article>
                <img src="{% static 'img/notes.png' %}" alt="Ikkebilde" width="100px" class="Bilde">
            </section>
            <hr class="linje" />
        </article>
        <article class="notat">
            <section class="notat-container">
                <article class="notat-content">
                    <h2>Random1</h2>
                    <article class="controls">
                        <p>Velg alternativ:</p>
                        <button><a href="random1/" class="brukerknapp">Gå til Random1</a></button>
                    </article>
                </article>
                <img src="{% static 'img/random.png' %}" alt="Ikkebilde" width="100px" class="Bilde">
            </section>
            <hr class="linje" />
        </article>
        <article class="notat">
            <section class="notat-container">
                <article class="notat-content">
                    <h2>Random2</h2>
                    <article class="controls">
                        <p>Velg alternativ:</p>
                        <button><a href="random2/" class="brukerknapp">Gå til Random2</a></button>
                        <button><a href="random2info/" class="brukerknapp">Info om Random2</a></button>
                        <button><a href="random2/" class="brukerknapp">Random random2</a></button>
                    </article>
                </article>
                <img src="{% static 'img/random.png' %}" alt="Ikkebilde" width="100px" class="Bilde">
            </section>
        </article>
    </section>

    <footer>
        <p>© 2026 Second Brain</p>
        <p>Sebastian Olsen & Oliver Åsnes</p>
    </footer>

{% endblock %}