<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 13:41:04
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 09:13:34
-->
{% extends "base.html" %}

{% block title %}
    Second brain - liste over brukere
{% endblock %}

{% block content %}
    <p class="main"><a href="/" class="ikkevislinje">Hovedside</a></p>
    <hr class="linje1" />
    <article class="detaljeralt">
    <h1>Brukere</h1>
        <article class="detaljer">
            <ul>
                {% for x in mymembers %}
                <li><a href="detaljer/{{ x.id }}" class="ikkevislinje">{{ x.firstname }} {{ x.lastname }}</a></li>
                {% endfor %}
            </ul>
        </article>
    </article>

{% endblock %}