<!-- 
  @Author: Your name
  @Date:   2026-01-28 15:02:23
  @Last Modified by:   Your name
  @Last Modified time: 2026-02-03 21:38:01
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <section class="container">
  {% block content %}
  {% endblock %}
  </section>

</body>
</html>

