<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 14:31:16
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 09:13:24
-->
{% extends "base.html" %}

{% block title %}
    Detaljer om {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}

    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p class="detaljer">Telefon: {{ mymember.phone }}</p>
    <p class="detaljer">Bruker siden: {{ mymember.joined_date }}</p>

    <p class="detaljer">Tilbake til <a href="/brukere">Brukere</a></p>

{% endblock %}