<!-- 
  @Author: Sep-aa
  @Date:   2026-01-28 14:31:16
  @Last Modified by:   Sep-aa
  @Last Modified time: 2026-02-04 09:13:24
-->
{% extends "base.html" %}

{% block title %}
    Detaljer om {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
    <article class="detaljeralt">
        <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
        <article class="detaljer">
            <p>Telefon: {{ mymember.phone }}</p>
            <p>Bruker siden: {{ mymember.joined_date }}</p>
            <p>Tilbake til <a href="/brukere" class="ikkevislinje">Brukere</a></p>
        </article>
    </article>
{% endblock %}