/**
 * @Author: Oliver
 * @Date:   2026-02-03 21:34:32
 * @Last Modified by:   Your name
 * @Last Modified time: 2026-02-04 08:10:05
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 27%;
    padding-right: 27%;
    padding-top: 5%;
    background-color: #292929;
    color: #d4d4d4;
}

button{
    background-color: rgba(95, 158, 160, 0.788);
    border: solid 2px rgb(28, 46, 46);
    font-size: 10px;
    padding: 10px;
    margin-left: 2%;
    border-radius: 10px;
    transition: 0.2s;
    width: 220px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}

button:hover{
    background-color: rgba(95, 158, 160, 0.978);
    scale: 1.02;

}

.brukerknapp{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
}


a {
    color: cadetblue;
}


.Overskrift {
    font-size: 42px;
}

.brukere{
    margin-bottom: 4%;
    margin-left: 5%;
}

.notat{
    margin-bottom: 4%;
    margin-left: 5%;
}

.random{
    margin-bottom: 4%;
    margin-left: 5%;
}

footer {
    text-align: center;
    color: #888888;
    position: fixed;
    width: 50%;
    bottom: 0;
}



p {
    margin-left: 5px;
}


.main {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 20px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 0;
}

.controls p {
    margin: 0;
}


.brukere button {
    width: 220px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin-bottom: 2px;
}

.brukere .brukerknapp {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
}

li {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    transition: 0.2s;
}

li:hover {
    scale : 1.05;
}

.detaljer {
    color: #b8b8b8;
    margin-left: 4%;
}

.linje {
    color: #888888;
    font-weight: bold;
}
