/**
 * @Author: Your name
 * @Date:   2026-02-03 21:34:32
 * @Last Modified by:   Your name
 * @Last Modified time: 2026-02-04 08:10:05
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: #d4d4d4;
}

