/**
 * @Author: Oliver
 * @Date:   2026-02-03 21:34:32
 * @Last Modified by:   Oliver
 * @Last Modified time: 2026-02-04 09:08:12
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    background-color: #292929;
    color: #ffffff; 
}

footer {
    margin : 0px;
    text-align: center;
    padding: 0px;
    background-color: #1a1a1a;
    color: #888888;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Overskrift {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.brukere {
    flex: 1;
}

.notat {
    flex: 1;
    text-align: right;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 0px;
}

.random {
    flex: 1;
    text-align: right;
}

p {
    margin-left: 5px;
}

a {
    color: #67b3ff;
}

.main {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 20px;
}

li {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    transition: 0.2s;
}

li:hover {
    scale : 1.05;
}

.detaljer {
    color: #b8b8b8;
    margin-left: 4%;
}
